---
import Whatsapp from '../components/icon/Whatsapp.astro'
---

<header id="header-nav" class="fixed w-screen py-4 z-50 top-0 px-8 lg:px-0 ">
    <nav class="grid grid-cols-2 lg:grid-cols-3 max-w-7xl mx-auto items-center justify-between">
        <img
            class="m-auto w-10 lg:w-10 -mt-0.5 "
            src="logo.svg"
            alt="logo"
        />
        <div class="m-auto space-x-4 hidden lg:block">
            <a
                class="font-semibold transition duration-200 hover:text-green-500 hover:ease-in-out text-lg"
                href="#">Inicio</a
            >
            <!-- <a
                class="font-semibold ransition duration-200 hover:text-green-500 hover:ease-in-out text-lg"
                href="#informacion">Información</a
            > -->
            
        </div>
        <div class="m-auto">
            <Whatsapp />
        </div>
    </nav>
</header>