---
import '@fontsource-variable/onest';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: 'Onest Variable',system-ui, sans-serif;
	}

	#header-nav {
		animation: blur linear both;
		animation-timeline: scroll();
		animation-range: 0 500px;
	}
	@keyframes blur {
		to {
			box-shadow:
				0px 5px 50px -5px rgba(0, 0, 0, 0.1),
				0px 0px 0px 1px rgba(0, 0, 0, 0.1);
			background: rgba(0, 0, 0, 0.3);
			backdrop-filter: blur(10px);
		}
	}

</style>
